h1 {
  font-size: 2em;
}
.color-silver {
  background-color: #ddd;
}
.color-aqua {
  background-color: #7fdbff;
}
.generic-center {
  margin: auto;
  padding: 2rem;
  border: 2px solid #000;
  text-align: center;
}
.dummy-height {
  min-height: 500px;
}
.border {
  border: 2px solid #000;
}
.buttons {
  border: 2px solid #000;
  padding: 20px;
}
.borderless {
  border: none;
}
.App {
  text-align: center;
}
.App-logo {
  -webkit-animation: App-logo-spin infinite 20s linear;
          animation: App-logo-spin infinite 20s linear;
  height: 80px;
}
.App-header {
  height: 150px;
  padding: 20px;
}
.App-intro {
  font-size: large;
}
.login-transition {
  text-align: center;
  padding-top: 50vh;
}
.debugger {
  text-align: left;
}
@-webkit-keyframes App-logo-spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes App-logo-spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
